@import url("https://fonts.googleapis.com/css2?family=Combo&family=Kolker+Brush&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Combo&family=Kolker+Brush&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Combo", cursive;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* ***************** scroll bar customise start************** */

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 1em;
  border: 0.15em solid transparent;
  background-clip: content-box;
  scroll-behavior: smooth;
}

/* ***************** scroll bar customise end************** */

:root {
  --primary: #52b4ef;
  --secondary: #2ea397;
  --background: #f2dbbb;
}

/* ***************navbar starts here**************** */

.navbar {
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  /* overflow-x: hidden; */
  background-color: var(--background);
  justify-content: space-between;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navbar-list li {
  padding: 0.8em 1.2em;
  position: relative;
  overflow: hidden;
  transform: scale(1);
  transition: all 0.5s;
}

.navbar-list li:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.navbar-list li a {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bolder;
  color: var(--secondary);
  font-size: 1rem;
  transition: all 0.5s;
  /* text-shadow: 0px 1px 10px rgba(46, 163, 151, 1); */
}

.navbar-list li a::after {
  content: "";
  position: absolute;
  left: 12.5%;
  bottom: 20%;
  height: 5%;
  width: 75%;
  margin: auto;
  background-color: var(--primary);
  transform: translateX(-150%);
  transition: transform 0.3s;
}

.navbar-list li a:hover {
  color: var(--primary);
  text-shadow: 0px 2px 15px rgba(42, 180, 239, 1);
  transition: all 0.5s;
}

.navbar-list li a:hover:after {
  transform: translateX(0%);
}

.logo li {
  font-family: "Kolker Brush", cursive;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--secondary);
  padding: 0 0.5em;
  font-size: 3em;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorchange 2s linear infinite;
}

.toggle-button {
  display: flex;
  position: absolute;
  top: 1em;
  right: 1em;
  flex-direction: column;
  justify-content: space-between;
  height: 1.5em;
  width: 1.4em;
  display: none;
  z-index: 9;
}

.toggle-button .bar {
  width: 100%;
  height: 3px;
  background-color: var(--secondary);
  border-radius: 10px;
}

/* ********************navbar ends here*************** */

/* ********************home start here*************** */

.header-container {
  background-color: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.header-container-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-container-content img {
  width: 30em;
  padding: 1em 0;
}

.header-container-content P {
  color: black;
  font-size: 1.2em;
  font-weight: bolder;
}

.header-container-content .colorful {
  font-size: 1.5em;
  font-weight: bolder;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorchange 2s linear infinite;
}

@keyframes colorchange {
  0% {
    background: var(--primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  60% {
    background: var(--secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: var(--primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/*************************** home ends here *******************************/

/*************************** heading start here *******************************/

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.1em 0;
  color: var(--secondary);
  top: 1.5em;
}

.heading h1 {
  font-size: 5em;
  font-family: "Kolker Brush", cursive;
  overflow: hidden;
  position: relative;
  padding: 0.1em 0.2em;
}

.heading h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 15%;
  background-color: var(--secondary);
  border-radius: 25px;
  width: 100%;
  height: 5%;
  transform: translateX(-100%);
  animation: borderslide 3s ease-in-out infinite;
}

@keyframes borderslide {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* *********************qualification start here*********************** */

.qualification-container-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qualification-grid {
  display: grid;
  grid-template-columns: auto;
  height: 15em;
}

.item1-btm-border {
  border-bottom: 2px solid black;
}

.item1,
.item2 {
  border-right: 2px solid black;
}

.item3 {
  border-bottom: 2px solid black;
}

.qualification-container {
  border: 0.15em solid black;
  border-radius: 15px;
  padding: 0.3em;
  text-transform: capitalize;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 1);
  position: relative;
  color: var(--background);
  background-color: var(--secondary);
  transform: scale(1);
  transition: all 0.5s;
}

.qualification-container:hover {
  box-shadow: 0 10px 25px rgba(42, 180, 239, 1);
  transform: scale(1.1);
  transition: all 0.5s;
}

.year-left {
  position: absolute;
  top: -15%;
  right: -5%;
  padding: 5px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: var(--secondary);
}

.lovepik {
  border-radius: 80%;
  box-shadow: 0.1em 0.6em 0.2em var(--primary);
  display: block;
  margin: auto;
}
/*************************** qualification ends here *******************************/

/*************************** section for CUP start here *******************************/

.skills {
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
  gap: 1.5em;
  margin: 2em 1em;
}

.cup {
  display: flex;
  flex-direction: column;
  width: 13em;
  height: 18em;
  border: 0.2em solid black;
  border-top: transparent;
  border-radius: 15px;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
  color: var(--secondary);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 1);
  transform: scale(1);
  transition: all 0.5s;
  overflow: hidden;
}

.cup:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  box-shadow: 0 10px 25px rgba(42, 180, 239, 1);
}

.cup:nth-child(1) {
  background: url(wave.png);
  background-repeat: repeat-x;
  animation: animate 6s linear infinite;
}
.cup:nth-child(2) {
  background: url(wave.png);
  background-repeat: repeat-x;
  animation: animate 6s linear infinite;
  animation-delay: 1s;
}
.cup:nth-child(3) {
  background: url(wave.png);
  background-repeat: repeat-x;
  animation: animate 6s linear infinite;
  animation-delay: 2s;
}
.cup:nth-child(4) {
  background: url(wave.png);
  background-repeat: repeat-x;
  animation: animate 4s linear infinite;
  animation-delay: 0.1s;
}
.cup:nth-child(5) {
  background: url(wave.png);
  background-repeat: repeat-x;
  animation: animate 4s linear infinite;
  animation-delay: 0.85s;
}
.cup:nth-child(6) {
  background: url(wave.png);
  background-repeat: repeat-x;
  animation: animate 4s linear infinite;
  animation-delay: 1.6s;
}

.cup-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.heading-slide-up {
  transform: translateY(-1.8em);
  transition-delay: 1s;
  transition: 1s;
  font-size: 1.5em;
}

.heading-slide-down {
  transform: translateY(0);
  transition: 0.5s;
  font-size: 2.2em;
}

.slide-up {
  transform: translateY(0);
  transition: 0.7s;
  font-weight: bold;
}

.slide-down {
  transform: translateY(15em);
  transition: 1s;
}

.cup-content li {
  text-align: center;
  font-size: 1.3em;
}

/* @keyframes animate {
  0% {
    background-position: 0px 0px;
  }
  20% {
    background-position: 312px 0px;
  }
  40% {
    background-position: 611px 0px;
  }
  60% {
    background-position: 822px 0px;
  }
  80% {
    background-position: 1233px 0px;
  }
  100% {
    background-position: 1544px 0px;
  }
} */

/* ***********************footer start here****************** */

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 35%;
  background-color: var(--background);
  padding: 1em;
}

footer .contact button {
  background-color: transparent;
  padding: 0.2em 0.6em;
  margin-top: 0.5em;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--secondary);
  border: 2px solid var(--secondary);
  transition: all 0.5s;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 5px;
}

footer .contact button:hover {
  color: var(--background);
  transition: all 0.5s;
  background-color: var(--secondary);
}

.contact-call {
  display: none;
}

.contact:hover .contact-call {
  display: block;
}

.contact-call a {
  text-decoration: none;
  font-size: 0.8em;
  color: var(--secondary);
  font-weight: 600;
}

.contact-call span {
  color: var(--primary);
  font-weight: 800;
}

.d-link p,
.follow p {
  border-left: 3px solid var(--secondary);
  margin: 1em;
  padding: 0em 1em;
}

.d-link p:hover,
.follow p:hover {
  border-left: 4px solid var(--primary);
  transition: all 0.2s;
}

.d-link p a,
.follow a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--secondary);
  transition: all 0.2s;
}

.d-link p a:hover,
.follow a:hover {
  color: var(--primary);
}

.d-link a,
.follow a {
  margin-top: 1.3em;
  padding: 0.2em;
  font-size: 1.2em;
}

.d-link {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

/* ******************about start here********************* */

.about-photo img {
  display: block;
  margin: auto;
  width: 10em;
  border-radius: 35%;
  border: 3px solid var(--secondary);
  transform: scale(0.9);
  transition: all 1s;
}

.about-photo img:hover{
  border: 3px solid var(--primary);
  transform: scale(1.2);
  transition: all 1s;
}

.about-description {
  font-size: 1em;
  font-family: "Caveat", cursive;
  width: 80%;
  color: var(--secondary);
  margin: 1em auto;
  text-align: justify;
  padding: 1.5em;
  background-color: var(--background);
  opacity: 0.9;
  border: 5px solid var(--secondary);
  border-radius: 2em;
  transform: scale(1);
  transition: all 0.8s;
}

.about-description:hover{
  border: 5px solid var(--primary);
  transform: scale(1.2);
  transition: all 0.8s;
}

.about-button{
  font-size: 1.2em;
  text-decoration: none;
  background-color: var(--background);
  margin: 1em auto;
  width: 8em;
  padding: 0.2em 0.5em;
  display: block;
  color: var(--secondary);
  border: 0.1em solid var(--secondary);
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.8s;
  font-weight: 600;
}

.about-button:hover{
  color: var(--primary);
  border: 0.1em solid var(--primary);
  /* background-color: var(--secondary); */
  transform: scale(1.2);
  transition: all 0.8s;
}


/* ******************about end here********************* */

/* **************footer ends here***************** */

@media screen and (max-width: 541px) {
  .skills {
    grid-template-columns: auto auto;
  }
  .cup {
    width: 13em;
    height: 17em;
  }
  .skill-flex {
    flex-direction: column;
  }
  .header-container-content {
    flex-direction: column;
    justify-content: center;
  }
  .header-container-content img {
    width: 25em;
  }
  .header-container-content > p {
    padding-bottom: 5em;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2.6em;
    right: 0;
    width: 40%;
    background-color: var(--background);
    border-radius: 10px;
    /* display: none; */
    opacity: 0;
    animation: nav-slide-close 0.3s linear;
  }

  @keyframes nav-slide-close {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .active {
    opacity: 1;
    animation: nav-slide-open 0.3s linear;
  }

  @keyframes nav-slide-open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@media screen and (max-width: 770px) {
}
@media screen and (max-width: 1025px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (min-width: 1211px) {
  html {
    font-size: 125%;
  }
}
